-c requirements.txt
black==20.8b1
coverage==5.2.1
django-debug-toolbar==2.2
django-stubs==1.5.0
flake8==3.8.3
flake8-comprehensions
mypy==0.770
nplusone==1.0.0
pre-commit==2.6.0
ptvsd==4.3.2
pytest==6.0.1
pytest-django==3.9.0