Django
django-autocomplete-light==3.5.1
django-crispy-forms==1.7.2
django-environ==0.4.5
django-extensions==3.0.3
django-filter==2.4.0
django-imagefield==0.12.4
django-model-utils==4.0.0
django-tables2==2.3.1
django-widget-tweaks==1.4.8
docutils==0.16
factory-boy==2.12.0
gunicorn==20.0.4
ipython==7.13.0
django-jazzmin==2.2.11
psycopg2-binary==2.8.5
Pillow==7.2.0
sentry-sdk==0.16.5
tablib[xlsx]==2.0.0
whitenoise==5.1.0