{% extends "gestion/dashboard.html" %}
{% load static %}

{% block title %} Enredarte {% endblock title %}

{% block extra_head %}
    <!-- Fullcalendar CSS -->
    <link rel="stylesheet" href="https://unpkg.com/@fullcalendar/core@4.4.0/main.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/@fullcalendar/bootstrap@4.4.0/main.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/@fullcalendar/daygrid@4.4.0/main.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/@fullcalendar/list@4.4.0/main.min.css"/>
{% endblock extra_head %}

{% block content %}

<!-- Dashboard Template -->
<div class="content-section">
    <h2 class="border-bottom mb-3">Inicio</h2>
    <div id='calendar' class="container"></div>
    {% include 'gestion/pedido_modal.html' %}
</div>

<!-- Dashboard End -->

{% endblock content %}


{% block extra_js %}

    <!-- Fullcalendar JS -->
    <script src='https://unpkg.com/@fullcalendar/core@4.4.0/main.min.js'></script>
    <script src='https://unpkg.com/@fullcalendar/core@4.4.0/locales/es.js'></script>
    <script src='https://unpkg.com/@fullcalendar/bootstrap@4.4.0/main.min.js'></script>
    <script src='https://unpkg.com/@fullcalendar/daygrid@4.4.0/main.min.js'></script>
    <script src="https://unpkg.com/@fullcalendar/list@4.4.0/main.min.js"></script>

    <script>
        'use strict';
        let calendar;
        
        // Calendar initialization
        document.addEventListener('DOMContentLoaded', function() {
          var calendarEl = document.getElementById('calendar');
  
          var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: [ 'dayGrid', 'list' ],
            defaultView: 'dayGridMonth',
            header: {
                left: 'prev,next, today',
                center: 'title',
                right: 'dayGridMonth,dayGridWeek,listMonth'
            },
            locale: 'es',
            weekMode: 'liquid',
            editable: true,
            eventTextColor: 'white',
            eventSources: [{
                url: '{% url "get_pedidos" %}'
            }],
            eventRender: function(info) {
                // Hacer algo antes de renderizar los eventos
                // let status = info.event.extendedProps.status;
            },
            eventClick: function(info){
                $("#PedidoModal").modal('show');
            }
          });
  
          calendar.render();
        });
  
      </script>
{% endblock extra_js %}
