{% extends "gestion/dashboard.html" %}
{% load static %}

{% block title %}
Enredarte
{% endblock title %}

{% block content %}

<legend class="border-bottom mb-3">Inicio</legend>

<div class="content-section">
    <div class="row">
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Pedidos</h5>
                    <p class="card-text">Listado de Pedidos</p>
                    <a href="{% url 'pedido' %}" class="btn btn-primary">Ir a Pedidos</a>
                </div>
                <ul class="list-group list-group-flush">
                    {% for p in pedidos %}
                    <li class="list-group-item">Pedido #{{ p.id }}</li>
                    {% endfor %}

                </ul>
            </div>

        </div>
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Clientes</h5>
                    <p class="card-text">Listado de Clientes</p>
                    <a href="{% url 'cliente' %}" class="btn btn-primary">Ir a Clientes</a>
                </div>
                <ul class="list-group list-group-flush">
                    {% for c in clientes %}
                    <li class="list-group-item">{{ c.nombre }} {{ c.apellido }}</li>
                    {% endfor %}
    
                </ul>
            </div>
    
        </div>
    </div>

</div>



{% endblock content  %}