{% extends "gestion/dashboard.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="d-grid p-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
        <li class="breadcrumb-item"><a href="{% url 'cliente' %}">Clientes</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ object.nombre }} {{ object.apellido }}</li>
        </ol>
    </nav>

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <legend class="border-bottom mb-3">Actualizar Cliente</legend>
                <div class="col-6">
                    {{ form|crispy }}
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-outline-success" type="submit">Actualizar</button>
                <a href="{% url 'detailCliente' object.id %}" class="btn btn-outline-secondary">Cancelar</a>                
            </div>
        </form>
    </div>
</div>
{% endblock content %}