{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <legend class="border-bottom mb-4">Borrar Cliente</legend>
                <h3>¿Seguro quiere eliminar el cliente <b>"{{ object.nombre }} {{ object.apellido }}"</b>?</h3>
            </div>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Borrar</button>
                <a href="{% url 'clientes:list' %}" class="btn btn-outline-secondary">Cancelar</a>                
            </div>
        </form>
    </div>
{% endblock content %}