{% extends "base.html" %}
{% load static %}


{% block title %}
Cliente {{ object.nombre }} {{ object.apellido }}
{% endblock title %}

{% block content %}

<div class="d-grid p-3">
{% include 'breadcrumb.html' with url_listado='clientes:list' plural="Clientes" %}

    <div class="container">
        <legend class="border-bottom mb-4">
            {{ object.nombre }} {{ object.apellido }}
            <a class="btn btn-sm btn-outline-secondary" href="{% url 'clientes:update' object.id %}">
                <span data-feather="edit-3"></span>
            </a>
            <a class="btn btn-sm btn-outline-danger" href="{% url 'clientes:delete' object.id %}">
                <span data-feather="trash"></span>
            </a>
        </legend>
        <div class="col-6">
            <ul class="list-group mb-4">
                <li class="list-group-item"><b>CUIT:</b>
                    {{ object.cuit|default:"" }}
                </li>
                <li class="list-group-item"><b>Email:</b>
                    {{ object.email }}
                </li>
                <li class="list-group-item"><b>Teléfono:</b>
                    {{ object.telefono }}
                </li>
                <li class="list-group-item"><b>Domicilio:</b>
                    {{ object.calle }} {{ object.numero }}
                </li>
                <li class="list-group-item"><b>Localidad:</b>
                    {{ object.localidad }}
                </li>
                {% if object.detalles %}
                    <li class="list-group-item"><b>Localidad:</b>
                        {{ object.detalles }}
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock content  %}