<!-- Modal Pedido -->

<script>

  const estados = ['CREADO', 'EN PROCESO', 'LISTO', 'ENTREGADO', 'CANCELADO']
  /**
   * Utilidad para formatear las fechas de los eventos
   */
  function formatDatetime(dateTime) {
    const year = dateTime.getFullYear();
    // Agrega un 0 adicional para mostrar '01' y no '1'
    const month = `0${dateTime.getMonth()+1}`.slice(-2);
    const day = `0${dateTime.getDate()}`.slice(-2);

    return `${day}/${month}/${year}`;
  }
  
  function cargarDataForm(event) {
    $("#start").html(formatDatetime(event.start));
    $("#cliente").html(event.title);
    $("#estado").html(estados[event.extendedProps.status]);

    let url = '{% url "pedidos:detail" pk=0 %}'.replace(0, event.id)
    $("#url").attr('href', url).attr('target', '_blank')
  }
</script>

<div class="modal fade" id="PedidoModal" tabindex="1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Detalles del pedido</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h1 id="title"></h1>
          <p>Fecha de inicio: <strong id="start"></strong></p>
          <p>Cliente: <strong id="cliente"></strong></p>
          <p>Estado: <strong id="estado"></strong></p>
        </div>
        <input hidden id="idPedido">
        <div class="modal-footer">
          <div class="container" >
          <a id='url' class="btn btn-primary" href="">Ver Pedido</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Fin Modal Pedido -->
