{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}

<!-- Alinear el botón para eliminar objetos -->
<style type="text/css">
    .delete-row {
        align-self: center;
    }
</style>

{{ formset.management_form|crispy }}

{% for form in formset.forms %}

    {# Incluir los campos ocultos del form #}

    {% for hidden in form.hidden_fields %}
        {{ hidden|as_crispy_field }}
    {% endfor %}

    <div id="formset-container" class="formset">
        <div class="row formset_row-productos_pedidos dynamic-form" style="flex-wrap: nowrap">
                {{ form.producto|add_class:"w-auto"|add_class:"producto"|as_crispy_field}}
                {{ form.cantidad|attr:"min:1"|add_class:"cantidad"|as_crispy_field }}
                <!-- Campo precio -->
                <div id="div_precio" class="col-4 form-group" hidden>
                    <label for="precio_producto" class="col-form-label col-auto">
                        Precio
                    </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <div type="number" class="numberinput form-control" id="precio_producto">
                        </div>
                    </div>
                </div>
                {{ form.DELETE|as_crispy_field }}
        </div>
    </div>

{% endfor %}

<div class="btn btn-info"
    name="test"
    onclick="calcularPrecio()"
>
    Calcular precio del pedido
</div>
<div id="div_precio_pedido" class="col-4 form-group" hidden>
    <label for="precio_pedido" class="col-form-label col-auto">
        Precio total del pedido
    </label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">$</span>
        </div>
        <div type="number" class="numberinput form-control" id="precio_pedido">
        </div>
    </div>
</div>

<br>

<!-- Django Dynamic Formset -->
<script src="{% static 'js/jquery.formset-15.js' %}"></script>
<script type="text/javascript">
    // Docs: https://github.com/elo80ka/django-dynamic-formset/blob/master/docs/usage.rst#formset-options

    // Opciones para personalizar como se renderiza el formset
    $('.formset_row-{{ formset.prefix }}').formset({
        addText: 'Agregar',
        addCssClass: 'btn btn-primary',
        deleteText: 'Borrar',
        deleteCssClass: 'btn btn-danger align-self-center',
        prefix: '{{ formset.prefix }}',
    });

</script>

<!-- HTMX -->
<script src="{% static 'js/htmx.min.js' %}"></script>

<script src="{% static 'js/base2.js' %}"></script>