{% extends "base.html" %}
{% load static %}


{% block title %}
Pedido # {{ object.id }}
{% endblock title %}

{% block content %}

<div class="d-grid p-3">
    {% include 'breadcrumb.html' with url_listado='pedidos:list' plural="Pedidos" %}

    <div class="container">

        <div class="d-flex align-items-center border-bottom mb-4">
            <h4>Pedido #{{ object.id }} - {{ object.cliente }}</h4>
            <a class="btn btn-sm btn-outline-secondary ml-2" href="{% url 'pedidos:update' object.id %}">
                <span data-feather="edit-3"></span>
            </a>
            <a class="btn btn-sm btn-outline-danger ml-2" href="{% url 'pedidos:delete' object.id %}">
                <span data-feather="trash"></span>
            </a>
            <span class="ml-auto"><b>Fecha:</b> {{object.fecha_pedido}}</span>
        </div>
        <div class="container border rounded">
            <div class="row">
                <div class="col-sm">
                    <b>Estado: </b> {{object.get_estado_display}}
                </div>
                <div class="col-sm">
                    <b>Cliente: </b> {{object.cliente}}
                </div>
                <div class="col-sm">
                    Algo
                </div>
            </div>
        </div>
        <h5>Productos</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Detalles</th>
                    <th scope="col">Precio Unitario</th>
                    <th scope="col">Importe</th>
                </tr>
            </thead>
            <tbody>
                {% for registro in object.productos_pedidos.all %}
                <tr>
                    <th scope="row">{{registro.cantidad}}</th>
                    <td>{{registro.producto}}</td>
                    <td>{{registro.detalles|default:"-"}}</td>
                    <td>$ {{registro.producto.precio_venta_terminado|floatformat}}</td>
                    <td>$ {{registro.precio_pedido|floatformat}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>Total: $ {{object.get_precio_total|floatformat}}</b></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock content  %}