{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="d-grid p-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'pedido' %}">Pedidos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Crear Pedido</li>
        </ol>
    </nav>

    <div class="content-section">
        <legend class="border-bottom mb-3">Crear Pedido</legend>
            <div class="col-6">
                {% crispy form %}
            </div>
    </div>
</div>
{% endblock content %}