{% extends "base.html" %}
{% load static %}


{% block seccion %}
Información sobre {{ object.nombre }}
{% endblock seccion %}


{% block content %}

{% include 'breadcrumb.html' with url_listado='pedidos:list' plural="Pedidos" %}

<div class="container">
    <h1>{{ object.get_absolute_url }}</h1>
    <legend class="border-bottom mb-4">
        {{ object.id }} - {{ object.cliente }}
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'pedidos:update' object.id %}">
            <span data-feather="edit-3"></span>
        </a>
        <a class="btn btn-sm btn-outline-danger" href="{% url 'pedidos:delete' object.id %}">
            <span data-feather="trash"></span>
        </a>
    </legend>
    <ul class="list-group mb-4">
        <li>Fecha: {{object.fecha_pedido}}</li>

        <h5>Productos</h5>
        <!-- p es una referencia a cada producto -->
        {% for p in object.get_productos %}
        <li>{{p.nombre}} - {{p.descripcion}}</li>
        {% endfor %}

        <h5>Estado</h5>
        <li>{{ object.get_estado_display }}</li>
        <li>{{ object.get_precio_total }}</li>
        {% if object.detalles %}
        <li>{{object.detalles}}</li>
        {% endif %}
    </ul>
</div>
{% endblock content  %}