{% extends "base.html" %}
{% load static %}


{% block title %}
Pedido # {{ object.id }}
{% endblock title %}

{% block content %}

<div class="d-grid p-3">
    {% include 'breadcrumb.html' with url_listado='pedidos:list' plural="Pedidos" %}

    <div id="OT" class="container border rounded p-3">

        <div class="d-flex align-items-center border-bottom mb-4">
            <h4>Pedido #{{ object.id }} - {{ object.cliente }}</h4>
            <a id="btn-update" class="btn btn-sm btn-outline-secondary ml-2" href="{% url 'pedidos:update' object.id %}">
                <span data-feather="edit-3"></span>
            </a>
            <a id="btn-delete" class="btn btn-sm btn-outline-danger ml-2" href="{% url 'pedidos:delete' object.id %}">
                <span data-feather="trash"></span>
            </a>
            {% if object.orden_de_trabajo %}
                <a id="btn-OT" class="btn btn-sm btn-outline-info ml-2" href="{% url 'pedidos:ot_detail' object.orden_de_trabajo.pk %}">
                    {{ object.orden_de_trabajo }}
                </a>
            {% endif %}
            <span class="ml-auto"><b>Fecha pedido:</b> {{object.fecha_pedido}}</span>
        </div>
            <div class="d-flex flex-wrap no-gutters">
                <div class="col-sm">
                    <h6><b>Estado: </b> {{object.get_estado_display}}</h6>
                </div>
                <div class="col-sm">
                    <h6><b>Cliente: </b> <a href="{% url 'clientes:detail' object.cliente.pk %}">{{object.cliente}}</a></h6>
                </div>
                <div class="col-auto">
                    <h6><b>Fecha entrega estimada:</b> {{object.fecha_entrega}}</h6>
                </div>
            </div>
        <div class="dropdown-divider"></div>
        <h5>Productos</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Detalles</th>
                    <th scope="col">Precio Unitario</th>
                    <th scope="col">Importe</th>
                </tr>
            </thead>
            <tbody>
                {% for registro in object.productos_pedidos.all %}
                <tr>
                    <th scope="row">{{registro.cantidad}}</th>
                    <td><a href="{% url 'productos:detail' registro.producto.pk %}">{{registro.producto}}</a></td>
                    <td>{{registro.detalles|default:"-"}}</td>
                    <td>$ {{registro.producto.get_precio|floatformat}}</td>
                    <td>$ {{registro.precio_pedido|floatformat}}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                
                {% if object.descuento > 0 %}
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <b>Descuento:</b>
                            <span class="text-success">
                                $ {{precios.descuento|floatformat}} ({{ object.descuento }}%)
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <b>Total:</b>
                            <span class="text-success">
                                $ {{precios.precio_final|floatformat}}
                            </span>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <b>Total:</b>
                            <span class="text-success">
                                $ {{object.get_precio_total|floatformat}}
                            </span>
                        </td>
                    </tr>
                {% endif %}
            </tfoot>
        </table>
        <div class="dropdown-divider"></div>
        <h5>Observaciones</h5>
        {{ object.detalles }}
        <button id="printjs" type="button" class="btn btn-success"
            onclick="printJS({
                printable: 'OT',
                type:'html',
                maxWidth: 1500,
                css: 'https:\/\/stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css',
                ignoreElements: [
                    'btn-delete', 'btn-update', 'btn-OT', 'printjs'
                ]
                })">
            Generar Presupuesto
        </button>
    </div>
</div>
{% endblock content  %}