{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% load static %}

{% block title %}
    Crear Insumo
{% endblock title %}

{% block extra_head %}
{{ block.super }}
<link href="{% static 'css/select2.min.css' %}" rel="stylesheet" />
{% endblock extra_head %}


{% block content %}

<div class="d-grid p-3">

    {% block breadcrumb %}
        {% include 'breadcrumb.html' with url_listado='productos:insumos:list' plural="Insumos" create=True %}
    {% endblock breadcrumb %}

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <legend class="border-bottom mb-3">
                {% block legend %} Crear Insumo {% endblock legend %}
            </legend>
            <div class="col-9">
                <div>
                    <div class="form-row">
                        <div class="form-group col-4">
                            {{ form.nombre|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-4">
                            {{ form.descripcion|attr:"rows:3"|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-2">
                            {{ form.unidad_medida|as_crispy_field }}
                        </div>
                        <div class="form-group col-3">
                            {{ form.medida|attr:"min:0"|as_crispy_field }}
                        </div>
                        <div class="form-group col-3">
                            {{ form.precio|attr:"min:0"|as_crispy_field }}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-4">
                            {{ form.proveedores|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="form-group mt-4">
                    <button class="btn btn-success mr-2" type="submit">Guardar</button>
                    <a href="{% url 'productos:insumos:list' %}" class="btn btn-outline-secondary">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    {{ form.media }}
{% endblock extra_js %}
