/* DASHBOARD STYLES */

body {
	font-size: 0.875rem;
}

.wrapper {
	display: flex;
}

.content-wrapper {
	width: calc(100% - 14rem); /* Tamaño de la sidebar */
	min-height: 100vh;
	transition: all 0.3s;
}

#principal.fullPage {
	width: 100%;
	padding: 0;
}

.form-container {
	margin: 20px;
}

.feather {
	width: 16px;
	height: 16px;
}

.card {
	width: 14rem;
}

.asteriskField {
	color: red;
}

/* Placeholder Text para productos sin imagen */
.image-placeholder {
    background-color: #eee;
	display: flex;
}

.image-placeholder > h5 {
    align-self: center;
    text-align: center;
    width: 100%;
}

/* Media Queries */

@media (max-width: 1024px) {
	#principal {
		width: calc(100% - 250px);
	}
	#principal.fullPage {
		width: 100%;
	}
}
