{% extends "gestion/dashboard.html" %}
{% load static %}


{% block seccion %}
    Información sobre {{ object.nombre }}
{% endblock seccion %}
    

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
      <li class="breadcrumb-item"><a href="{% url 'producto' %}">Productos</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ object.nombre }}</li>
    </ol>
  </nav>

<div class="container">
    <legend class="border-bottom mb-4">
        {{ object.id }} - {{ object.nombre }}
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'updateProducto' object.id %}">
            Editar información
            <span data-feather="edit"></span>
        </a>
        <a class="btn btn-sm btn-outline-danger" href="{% url 'deleteProducto' object.id %}">
            Borrar
            <span data-feather="trash"></span>
        </a>
    </legend>

    <div class="card" style="width: 18rem;">
        {% if object.image_url %}
            <img class="card-img-top" src="{{object.image_url}}" alt="{{object.nombre}}">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{object.nombre}}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{object.descripcion}}</li>
            <li class="list-group-item">$ {{object.precio_costo}}</li>
            <li class="list-group-item">$ {{object.precio_venta_terminado}}</li>
            {% for i in object.get_insumos %}
                <li class="list-group-item">{{i}}</li>             
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content  %}