{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="d-grid p-3">


    {% block breadcrumb %}
    {% include 'breadcrumb.html' with url_listado='productos:list' plural="Productos" create=True %}
    {% endblock breadcrumb %}


    <div class="content-section">
        <legend class="border-bottom mb-3">
            {% block legend %} Crear Producto {% endblock legend %}
        </legend>
        <div class="col-8">
            {% comment %}
            Incluyo el form manualmente para agregar el tipo de encoding
            {% endcomment %}
            <form class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% crispy form %}
            </form>
        </div>
    </div>
</div>
{% endblock content %}