{% extends "base.html" %}
{% load static %}


{% block seccion %}
Información sobre {{ object.nombre }}
{% endblock seccion %}


{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'core:home' %}">Inicio</a></li>
        <li class="breadcrumb-item"><a href="{% url 'productos:list' %}">Productos</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ object.nombre }}</li>
    </ol>
</nav>

<div class="container">

    <div class="row">
        {% if object.image_url %}
            <img class="w-50 rounded-left" src="{{object.image_url}}" alt="{{object.nombre}}">
            {% else %}
            <div class="w-50 rounded-left image-placeholder" alt="Placeholder">
                <h5>Cargue una imagen para este producto</h5>
            </div>
        {% endif %}
        <div class="card w-50">
            <div class="card-body">
                <div>
                    <h4 class="card-title">{{object.nombre}}
                        <a title="Editar" class="btn btn-sm btn-outline-secondary" href="{% url 'productos:update' object.id %}">
                            <span data-feather="edit-3"></span>
                        </a>
                        <a title="Borrar" class="btn btn-sm btn-outline-danger" href="{% url 'productos:delete' object.id %}">
                            <span data-feather="trash"></span>
                        </a>
                    </h4>
                </div>
                <h6 class="card-subtitle mb-2 text-muted">Info extra</h6>
                <p class="card-text">{{object.descripcion}}</p>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        $ Costo:
                        <span class="price text-success">{{object.precio_costo|floatformat}}</span>
                    </li>
                    <li class="list-group-item">$ Venta (Terminado) :
                        <span class="price text-success">{{object.precio_venta_terminado|floatformat}}</span>
                    </li>
                    <li class="list-group-item">Insumos extra</li>
                    {% for i in object.get_insumos %}
                    <li class="list-group-item">{{i}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

</div>
{% endblock content  %}