<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear una nueva localidad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="localidad-form">
                    <div class="form-group">
                        <label for="InputProvincia">Provincia</label>
                        <select autocapitalize="characters" class="form-control" id="InputProvincia">
                            
                            {% for p in provincias %}
                                <option value="{{ p.pk }}">{{ p.provincia }}</option>
                            {% endfor %}
                                
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="InputLocalidad">Localidad</label>
                        <input type="text" class="form-control" id="InputLocalidad" placeholder="Ingrese una localidad" required>
                    </div>
                    <div class="form-group">
                        <label for="InputCodPostal">Código Postal</label>
                        <input type="number" maxlength="4" min="0" class="form-control" style="width: 120px" id="InputCodPostal" aria-describedby="HelpCodPostal">
                        <small id="HelpCodPostal" class="text-muted">
                            Ejemplo: <b>5921</b>
                            <br>
                            <a href="https://www6.oca.com.ar/BuscadorCP/" target="_blank" rel="noreferrer noopener">Buscar código postal</a>
                          </small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal End -->

<!-- Función Localidad -->
<script>
    document.addEventListener('DOMContentLoaded', () => {

        document.querySelector('#localidad-form').addEventListener('submit', (e) => {
            e.preventDefault()

            // Tomar el token del formulario original (Esto puede malir sal)
            let token = $('input[name=csrfmiddlewaretoken]').val();

            // Mandar la POST request
            $.ajax({
                type: 'POST',
                url: '/localidades/ajax-new/',
                data: {
                    csrfmiddlewaretoken: token,
                    cod_postal: $('#InputCodPostal').val(),
                    localidad: $('#InputLocalidad').val(),
                    provincia_id: $('#InputProvincia').val(),
                },
                dataType: 'json',
                success: (nuevaLocalidad) => {
                    window.alert('Se creó la nueva localidad con éxito');

                    // Esconder modal
                    $('#exampleModal').modal('hide');

                    // Seleccionar select del formulario de cliente
                    localidadSelect = document.getElementById('id_localidad');

                    // Crear una nueva opción para ese select
                    localidadSelect.options.add(
                        new Option(
                            text=nuevaLocalidad.localidad,
                            value=nuevaLocalidad.pk_value,
                            selected=true
                        )
                    )

                    // Actualizar el select con la opción creada
                    localidadSelect.value = nuevaLocalidad.pk_value
                    

                },
                error: (xhr, status, error) => {
                    console.log(xhr.responseJSON.mensaje)
                    
                    window.alert(xhr.responseJSON.mensaje)
                }
            })
        })

    })
</script>
<!-- Función Localidad -->
