{% extends "base.html" %}
{% load static %}


{% block title %}
Información sobre {{ object.razon_social}}
{% endblock title %}


{% block content %}

<div class="d-grid p-3">
{% include 'breadcrumb.html' with url_listado='proveedores:list' plural="Proveedores" %}

<div class="container">
    <legend class="border-bottom mb-4">
        {{ object.razon_social}}
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'proveedores:update' object.id %}">
            <span data-feather="edit-3"></span>
        </a>
        <a class="btn btn-sm btn-outline-danger" href="{% url 'proveedores:delete' object.id %}">
            <span data-feather="trash"></span>
        </a>
    </legend>
    <ul class="list-group mb-4">
        <li>{{object.email}}</li>
        <li>{{object.telefono}}</li>
        <li>{{object.cuit}}</li>
        {% if object.detalles %}
        <li>{{object.detalles}}</li>
        {% endif %}
    </ul>
</div>
</div>
{% endblock content  %}