{% extends "base.html" %}
{% load static %}


{% block seccion %}
Información sobre {{ object.razon_social}}
{% endblock seccion %}


{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
        <li class="breadcrumb-item"><a href="{% url 'proveedor' %}">Proveedores</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ object.razon_social}}</li>
    </ol>
</nav>

<div class="container">
    <legend class="border-bottom mb-4">
        {{ object.razon_social}}
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'updateProveedor' object.id %}">
            <span data-feather="edit-3"></span>
        </a>
        <a class="btn btn-sm btn-outline-danger" href="{% url 'deleteProveedor' object.id %}">
            <span data-feather="trash"></span>
        </a>
    </legend>
    <ul class="list-group mb-4">
        <li>{{object.email}}</li>
        <li>{{object.telefono}}</li>
        <li>{{object.cuit}}</li>
        {% if object.detalles %}
        <li>{{object.detalles}}</li>
        {% endif %}
    </ul>
</div>
{% endblock content  %}