{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="d-grid p-3">
    {% include 'breadcrumb.html' with url_listado='proveedores:list' plural="Proveedores" update=True %}

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <legend class="border-bottom mb-3">Actualizar Proveedor</legend>
                <div class="col-6">
                    {{ form|crispy }}
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Actualizar</button>
                <a href="{% url 'proveedores:detail' object.id %}" class="btn btn-outline-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}