{% extends 'base.html' %}
{% load static %}

{% block title %} Reporte de Pedidos {% endblock title %}

{% block content %}

<div class="content-section">

    {% include 'breadcrumb.html' with url_listado='reportes:list' plural="Reportes" %}

    <div class="container">

        <div id="container" style="width: 75%;">
            <canvas id="chart" data-url="{% url 'reportes:productos-solicitados-json' %}"></canvas>
        </div>
    </div>

</div>

<script>

    $(function () {

        // https://www.chartjs.org/docs/latest/general/fonts.html
        Chart.defaults.global.defaultFontSize = 16;

        let $clientesChart = $('#chart')

        $.ajax({
            url: $clientesChart.data("url"),
            success: function (data) {
                var ctx = $clientesChart[0].getContext("2d");

                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            data: data.num_productos,
                            backgroundColor: ["#0074D9", "#FF4136", "#2ECC40", "#FF851B", "#7FDBFF", "#B10DC9", "#FFDC00", "#001f3f", "#39CCCC", "#01FF70", "#85144b", "#F012BE", "#3D9970", "#111111", "#AAAAAA"],
                            borderColor: 'rgb(255, 99, 132)',
                        }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            display: false,
                        },
                        title: {
                            display: true,
                            text: 'Productos más solicitados'
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    callback: function (value) { if (value % 1 === 0) { return value; } }
                                }
                            }]
                        }
                    }
                });
            }
        })
    })
</script>

{% endblock content %}