{% extends 'base.html' %}
{% load static %}

{% block title %} Reporte de Pedidos {% endblock title %}

{% block content %}

<div class="content-section">

    {% include 'breadcrumb.html' with url_listado='reportes:list' plural="Reportes" %}

    <div class="container">

        <div class="row">


        <div id="container" class="col-8" style="width: 75%;">
            <canvas id="chart" data-url="{% url 'reportes:productos-solicitados-json' %}"></canvas>
        </div>
        <div class="card col-4">
            <div class="card-body">
                <h5 class="card-title">Ingrese los datos</h5>
                <form id="form-grafico" action="{% url 'reportes:productos-solicitados-json' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="InputProvincia">Fecha de inicio</label>
                        <input type="date" class="form-control" id="FechaInicio" placeholder="dd/mm/aaaa" required>
                    </div>
                    <div class="form-group">
                        <label for="InputProvincia">Fecha de fin</label>
                        <input type="date" class="form-control" id="FechaFin" placeholder="dd/mm/aaaa" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Calcular</a>
                </form>
            </div>
        </div>
    </div>

    </div>

</div>

<script>

    $(function () {

        // https://www.chartjs.org/docs/latest/general/fonts.html
        Chart.defaults.global.defaultFontSize = 16;

        let $chart = $('#chart')

        $.ajax({
            url: $chart.data("url"),
            success: function (data) {
                var ctx = $chart[0].getContext("2d");

                myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            data: data.num_productos,
                            backgroundColor: ["#0074D9", "#FF4136", "#2ECC40", "#FF851B", "#7FDBFF", "#B10DC9", "#FFDC00", "#001f3f", "#39CCCC", "#01FF70", "#85144b", "#F012BE", "#3D9970", "#111111", "#AAAAAA"],
                            borderColor: 'rgb(255, 99, 132)',
                        }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            display: false,
                        },
                        title: {
                            display: true,
                            text: 'Productos más solicitados por período de tiempo'
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    callback: function (value) { if (value % 1 === 0) { return value; } }
                                }
                            }]
                        }
                    }
                });
            }
        });

        function updateData(chart, label, data) {
            // Remover datos
            chart.data.labels.length = 0;

            chart.data.datasets.forEach((dataset) => {
                dataset.data.length = 0;
            });

            // Agregar nueva data
            chart.data.labels = label
            chart.data.datasets.forEach((dataset) => {
                dataset.data = data
            });

            chart.update();
        }

        document.querySelector("#form-grafico").addEventListener('submit', (e) => {
            e.preventDefault();

            const url = document.querySelector("#form-grafico").action

            const csrftoken = $("[name=csrfmiddlewaretoken]").val()

            $.ajax({
                type: 'GET',
                url: url,
                data: {
                    csrfmiddlewaretoken: csrftoken,
                    fecha_inicio: $('#FechaInicio').val(),
                    fecha_fin: $('#FechaFin').val(),
                },
                dataType: 'json',
                success: (data) => {

                    console.log(data)

                    let { labels, num_productos } = data

                    updateData(myChart, labels, num_productos)

                }
            })
        })
    })
</script>

{% endblock content %}