{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %}Flexbox{% endblock %}</title>
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />

  <!-- BOOTSTRAP CSS -->
  <link href="{% static 'css/bootstrap-452.min.css' %}" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{% static 'css/custom/usersLayout.css' %}" rel="stylesheet">

</head>

<body>

    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {% if request.user.is_authenticated %}
          <ul class="navbar-nav p-left">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'core:index' %}">Flexbox</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ user.username }}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>
              </div>
            </li>
          </ul>
          {% else %}
          <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a></li>
            </ul>
          {% endif %}
        </div>
      </nav>
      <!-- Container -->
      <div class="container fluid">
      {% if messages %}
          {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                  {{ message }}
              </div>
          {% endfor %}
      {% endif %}
        <main class="container p-4">
          {% block content %}
          <div class="text-center">
              {% block inner %}{% endblock %}
          </div>
          {% endblock %}
        </main>
      </div>
      <!-- Container End -->

      <!-- Footer -->
      <!-- <div >
        <footer class="py-2 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright © Your Website 2020</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        ·
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
      </div> -->
    </div>
    <!-- /#page-content-wrapper -->

  <!-- BOOTSTRAP JS -->
  <script src="{% static 'js/jquery-3-41.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-4-52.bundle.min.js' %}"></script>


</body>

</html>