{% extends "base.html" %}
{% load static %}


{% block title %}
Compra #{{ object.pk }}
{% endblock title %}

{% block content %}

<div class="d-grid p-3">
{% include 'breadcrumb.html' with url_listado='compras:list' plural="Compras" %}

<div class="container border rounded p-3">

    <div class="d-flex align-items-center border-bottom mb-4">
        <h4>Compra #{{ object.id }} - {{ object.proveedor }}</h4>
        <a class="btn btn-sm btn-outline-secondary ml-2" href="{% url 'compras:update' object.id %}">
            <span data-feather="edit-3"></span>
        </a>
        <a class="btn btn-sm btn-outline-danger ml-2" href="{% url 'compras:delete' object.id %}">
            <span data-feather="trash"></span>
        </a>
        <span class="ml-auto"><b>Fecha compra:</b> {{object.fecha_compra}}</span>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h6><b>Cliente: </b> <a href="{% url 'proveedores:detail' object.proveedor.pk %}">{{object.proveedor}}</a></h6>
            </div>
        </div>
    </div>
    <div class="dropdown-divider"></div>
        <h5>Insumos</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Insumo</th>
                    <th scope="col">Detalles</th>
                    <th scope="col">Precio Unitario</th>
                    <th scope="col">Importe</th>
                </tr>
            </thead>
            <tbody>
                {% for registro in object.insumos_comprados.all %}
                <tr>
                    <th scope="row">{{registro.cantidad}}</th>
                    <td>{{registro.insumo}}</td>
                    <td>{{registro.detalles|default:"-"}}</td>
                    <td>$ {{registro.precio_unitario|floatformat}}</td>
                    <td>$ {{registro.precio_compra|floatformat}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>Total: $ {{object.precio_total|floatformat}}</b></td>
                </tr>
            </tbody>
        </table>
</div>

</div>
{% endblock content  %}