{% extends "base.html" %}
{% load static %}


{% block seccion %}
Información sobre {{ object.nombre }}
{% endblock seccion %}


{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'core:home' %}">Inicio</a></li>
        <li class="breadcrumb-item"><a href="{% url 'compras:list' %}">Compras</a></li>
        <li class="breadcrumb-item active" aria-current="page">Compra #{{ object.id }}</li>
    </ol>
</nav>

<div class="container">
    <legend class="border-bottom mb-4">
        {{ object.id }} - {{ object.proveedor }}
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'compras:update' object.id %}">
            <span data-feather="edit-3"></span>
        </a>
        <a class="btn btn-sm btn-outline-danger" href="{% url 'compras:delete' object.id %}">
            <span data-feather="trash"></span>
        </a>
    </legend>
    <ul class="list-group mb-4">
        <li>Fecha: {{object.fecha_compra}}</li>

        <h5>Insumos</h5>
        <!-- p es una referencia a cada producto -->
        {% for p in object.get_insumos %}
        <li>{{ p.cantidad }} - {{p.insumo.nombre}} - {{p.insumo.descripcion}}</li>
        {% endfor %}
    </ul>
</div>
{% endblock content  %}