{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>{% block title %} Flexbox {% endblock %}</title>
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap-452.min.css' %}" />

	<!-- Custom CSS -->
	<link rel="stylesheet" href="{% static 'css/custom/base.css' %}" />
	<link rel="stylesheet" href="{% static 'css/custom/sidebar.css' %}" />
	<link rel="stylesheet" href="{% static 'css/custom/navbar.css' %}" />

    <!-- PrintJS -->
    <link rel="stylesheet" href="{% static 'css/print.min.css' %}">

    <!-- Jquery JS -->
    <script src="{% static 'js/jquery-3-41.min.js' %}"></script>

    <!-- Select2 -->
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet" />

	<!-- Bootstrap Tempus dominus DateTimePicker -->
  	<link rel="stylesheet" href="{% static 'css/tempusdominus-bootstrap-4.min.css' %}" />

    <!-- Toastr CSS & JS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/toastr-214.css' %}" media="all">
    <script type="text/javascript" src="{% static 'js/toastr-214.min.js' %}" ></script>  

	{% block extra_head %}{% endblock extra_head %}
		
</head>

<body>
	<!-- Wrapper -->
	<div class="wrapper">
		{% include 'sidebar.html' %}

		<!-- Contenido principal -->
		<main id="principal" role="main" class="content-wrapper fullPage">
			{% include 'navbar.html' %}

            {% include 'toastr.html' %}

			<div class="p-4">
				{% block content %} {% endblock content %}
			</div>
		</main>
		<!-- Contenido principal end -->
	</div>
    <!-- Wrapper end -->
    
    <!-- Static JS -->

    <!-- BOOTSTRAP JS -->
    <script src="{% static 'js/bootstrap-4-52.bundle.min.js' %}"></script>

    <!-- Feather icons -->
	<script src="{% static 'js/feather-4-28.min.js' %}"></script>

    <!-- Bootstrap datepicker -->
	<script src="{% static 'js/moment-locales-2-27.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <!-- Select2 -->
    <script src="{% static 'js/select2.min.js' %}"></script>

    <!-- PrintJS -->
    <script src="{% static 'js/print.min.js' %}"></script>

    <!-- SweetAlert -->
    <script src="{% static 'js/sweetalert2.10.min.js' %}"></script>

    <!-- ChartJS -->
    <script src="{% static 'js/chart.min.js' %}"></script>

    <!-- Custom JS -->
	<script src="{% static 'js/base.js' %}" async></script>

	{% block extra_js %}{% endblock extra_js %}
</body>

</html>