{% extends "base.html" %}
{% load static %}

{% block title %} Enredarte {% endblock title %}

{% block extra_head %}
{% endblock extra_head %}

{% block content %}

<!-- Inicio Template -->
<div class="content-section">
    <h2 class="border-bottom mb-3">Inicio</h2>
    <div class="row h-25">
        <div class="col-3">
            <div class="card">
                <div class="card-body">Pedidos en proceso</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small  stretched-link" href="{{ url_pedidos_en_proceso }}">{{ pedidos_en_proceso.count }}</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        Pedidos Listos
                        (<a href="{{ url_pedidos_listos }}">{{ pedidos_listos.count }}</a>)
                    </h5>
                  </div>
                <ul class="list-group">
                    {% for pedido in pedidos_listos %}
                        <a href="{% url 'pedidos:detail' pedido.pk %}" class="list-group-item list-group-item-action">
                            {{ pedido }}
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">Pedidos en proceso</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small  stretched-link" href="{{ url_pedidos_en_proceso }}">{{ pedidos_en_proceso.count }}</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">Pedidos en proceso</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small  stretched-link" href="{{ url_pedidos_en_proceso }}">{{ pedidos_en_proceso.count }}</a>
                </div>
            </div>
        </div>
    </div>

    {% include 'core/reporte.html' %}
</div>  

<!-- Inicio End -->

{% endblock content %}