<!-- Load current page custom tag -->
{% load active_page %}
{% load static %}

<!-- Sidebar -->
<ul id="sidebar" class="bg-light sidebar hide navbar-nav">
	<ul class="nav flex-column">
		<a class="sidebar-brand d-flex align-items-center" href="{% url 'core:home' %}">
			<div class="sidebar-brand-icon">
                <img src="{% static 'images/logo.svg' %}" alt="" height="90">
			</div>
			<div>Enredarte</div>
		</a>
		<hr class="sidebar-divider my-0" />
		<li class="nav-item">
			<a class="nav-link {% active '/' %}" href="{% url 'core:home' %}">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
					stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
					<polyline points="9 22 9 12 15 12 15 22"></polyline>
				</svg>
				Inicio
			</a>
		</li>
		<hr class="sidebar-divider my-0" />
		<li class="nav-item">
			<a class="nav-link {% active 'calendario/' %}" href="{% url 'calendario:index' %}">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
					stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
					<line x1="16" y1="2" x2="16" y2="6"></line>
					<line x1="8" y1="2" x2="8" y2="6"></line>
					<line x1="3" y1="10" x2="21" y2="10"></line>
				</svg>
				Calendario
			</a>
		</li>
		<hr class="sidebar-divider my-0" />
		<li class="nav-item">
			<a class="nav-link dropdown-toggle {% active 'pedidos/' %}" href="#PedidosSubmenu" data-toggle="collapse" aria-expanded="false">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
					stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<path d="M14 2H6a2 2 0 0 0-2 2v16c0 1.1.9 2 2 2h12a2 2 0 0 0 2-2V8l-6-6z" />
					<path d="M14 3v5h5M16 13H8M16 17H8M10 9H8" /></svg>
				Pedidos
			</a>
			<ul class="collapse subMenu" id="PedidosSubmenu">
				<li>
					<a href="{% url 'pedidos:list' %}">Listado</a>
                </li>
				<li>
					<a href="{% url 'pedidos:create' %}">Crear pedido</a>
				</li>
			</ul>
        </li>
        <hr class="sidebar-divider my-0" />
		<li class="nav-item">
			<a class="nav-link {% active 'compras/' %}" href="{% url 'compras:list' %}">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
					stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<line x1="12" y1="1" x2="12" y2="23"></line>
					<path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
				</svg>
				Compras
			</a>
		</li>
		<hr class="sidebar-divider my-0" />
		<li class="nav-item">
			<a class="nav-link dropdown-toggle {% active 'productos/' %}" href="#ProductosSubmenu" data-toggle="collapse" aria-expanded="false">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
					stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<circle cx="10" cy="20.5" r="1" />
					<circle cx="18" cy="20.5" r="1" />
					<path d="M2.5 2.5h3l2.7 12.4a2 2 0 0 0 2 1.6h7.7a2 2 0 0 0 2-1.6l1.6-8.4H7.1" /></svg>
				Productos
            </a>
            <ul class="collapse subMenu" id="ProductosSubmenu">
				<li>
					<a href="{% url 'productos:list' %}">Listado</a>
                </li>
				<li>
					<a href="{% url 'productos:regular:create' %}">Producto regular</a>
                </li>
                <li>
					<a href="{% url 'productos:irregular:create' %}">Producto irregular</a>
				</li>
			</ul>
        </li>
        <hr class="sidebar-divider my-0" />
		<li class="nav-item">
			<a class="nav-link {% active 'productos/insumos/' %}" href="{% url 'productos:insumos:list' %}">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
					stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<circle cx="10" cy="20.5" r="1" />
					<circle cx="18" cy="20.5" r="1" />
					<path d="M2.5 2.5h3l2.7 12.4a2 2 0 0 0 2 1.6h7.7a2 2 0 0 0 2-1.6l1.6-8.4H7.1" /></svg>
				Insumos
			</a>
		</li>
		<hr class="sidebar-divider my-0" />
		<li class="nav-item">
			<a class="nav-link {% active 'clientes/' %}" href="{% url 'clientes:list' %}">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
					stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
					<circle cx="9" cy="7" r="4"></circle>
					<path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
					<path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
				</svg>
				Clientes
			</a>
		</li>
		<hr class="sidebar-divider my-0" />
		<li class="nav-item">
			<a class="nav-link {% active 'proveedores/' %}" href="{% url 'proveedores:list' %}">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
					stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<path
						d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z">
					</path>
				</svg>
				Proveedores
			</a>
		</li>
        <hr class="sidebar-divider my-0" />
        <li class="nav-item">
			<a class="nav-link {% active 'localidades/' %}" href="{% url 'core:localidades-list' %}">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M16.2 7.8l-2 6.3-6.4 2.1 2-6.3z"/></svg>
				Localidades
			</a>
		</li>
		<hr class="sidebar-divider my-0" />
		<li class="nav-item">
			<a class="nav-link {% active 'reportes/' %}" href="{% url 'clientes:reporte' %}">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
					stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<path d="M3 3v18h18" />
					<path d="M18.7 8l-5.1 5.2-2.8-2.7L7 14.3" /></svg>
				Informes
			</a>
        </li>
	</ul>
</ul>
<!-- Sidebar end -->