/* Navbar */

#navbarDropdown {
    color: rgba(255, 255, 255, 0.80);
}

#navbarDropdown:hover {
    color: rgba(255, 255, 255);
}



.custom-gradient {
	background: #ba8f2b; /* fallback for old browsers */
	background: linear-gradient(
		to right,
		#cc9b14,
		#ba8f2b
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-toggle {
	font-size: 1rem;
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
	flex: 0 0 auto;
	max-width: min-content;
}

.navbar-toggle:hover {
	background-color: rgba(0, 0, 0, 0.25);
	text-decoration: none;
}

.ham {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: transform 300ms;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.hamRotate.active {
	transform: rotate(45deg);
}
.hamRotate180.active {
	transform: rotate(180deg);
}
.line {
	fill: none;
	transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
	stroke: white;
	stroke-width: 5.5;
	stroke-linecap: round;
}

.ham4 .top {
	stroke-dasharray: 40 121;
}
.ham4 .bottom {
	stroke-dasharray: 40 121;
}
.ham4.active .top {
	stroke-dashoffset: -68px;
}
.ham4.active .bottom {
	stroke-dashoffset: -68px;
}

.navbar .form-control {
	padding: 0.75rem 1rem;
	border-width: 0;
	border-radius: 0;
}

/* .form-control-dark {
	color: #fff;
	background-color: rgba(255, 255, 255, 0.1);
	border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
	border-color: transparent;
	box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
} */
