/* CSS aplicado a los templates de la app Users */

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
/*     text-align: center; */
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

#form-login {
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    margin: 0 auto;
}