body {
    font-size: .875rem;
  }

/* Main */ 
.principal {
  width: calc(100% - 250px);
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 90px;
  right: 0;
}

#principal.fullPage {
  width: 100%;
  padding: 0 50px;
}

.form-container {
  margin: 20px;
}

.feather {
    width: 16px;
    height: 16px;
}
  
.card {
    width: 14rem;
}

.asteriskField {
    color: red;
}
